:root {
    --default-width: 400px;
    --default-height: 430px;
    --bg-color: #131313;
}

.manage_mode_body {
    background-color: var(--bg-color); padding-bottom: 10px;
}

@media (max-width: 500px) {
    .manage_mode_body {
        width: calc(100% - 50px); margin-left: 25px; margin-right: 25px;
    }

    .manage_mode_img {
        width: 100%; height: auto;
    }
}

@media (min-width: 500px) {
    .manage_mode_body {
        height: var(--default-height); width: var(--default-width);
        margin-left: calc(50% - var(--default-width) / 2); margin-right: calc(50% - var(--default-width) / 2);
    }

    .manage_mode_img {
        width: var(--default-width); height: auto;
    }
}