.post_element {
    margin-bottom: 20px;
}

.post_element * {
    margin: 0;
}

.post_element_title {
    margin-bottom: 5px;
}

.post_element_title > a {
    text-decoration: none; color: #2C0000;
}

.post_element_title > a:hover {
    color: rgb(165, 52, 52);
}

.post_element_date {
    color: #727272; font-size: 12px;
}