.home_body {
    height: 100%;
}

.home_body_recent {
    margin: 0 0 50px 0; text-decoration: none; color: #444444; padding-top: 100px;
}

@media (max-width: 500px) {
    .home_body_recent {
        padding-top: 30px;
    }
}

@media (min-width: 500px) {
    .home_body_recent {
        padding-top: 100px;
    }
}