.footer_github_icon {
    width: 30px; height: auto; margin-top: 10px;
}

.footer_link {
    width: 100px; height: 100px;
}

.footer_profile {
    position: fixed; right: 20px; bottom: 16px; text-decoration: none; color: #444444; font-size: bold;
}

.footer_profile:hover {
    color: #BD2235;
}