.header {
    width: 100%; height: 100%;
}

.header_gif {
    margin: 15px 0; width: auto; height: 80%; border-radius: 10px;
}

.button_group {
    position: absolute; right: 10px; top: 15px; width: auto;
}